<div class="container row">
<div *ngIf="!showData" class="coinCard">
    <div *ngFor = 'let coin of newCoinList'>
            <div class="coin-card col s6 m4 l3">
                <div class="card">
                    <div class="card-image">
                    <img id ="coin-image" src="images/bitcoin-logo.png">
                    <!-- <span class="card-title">Card Title</span> -->
                    </div>
                    <div class="card-content">
                    <!-- <p>1 BTC = .00001</p> -->
                    <div *ngFor = 'let data of marketData'>

                        <div *ngIf="data.symbol == coin">
                            <p id="coin__name">{{data.name}}</p>
                            <p id="coin__conversion">Price: ${{data.price_usd}}</p>
                            <p id="coin__rank">Rank <span>{{data.rank}}</span></p> 
                            <p>Total Supply {{data.total_supply | number}}</p>
                            <!-- <p>Circulating Supply {{data.available_supply | number}}</p> -->
                        </div>       
                            
                    </div>
                    </div>
                    <div class="card-action s6 m3 l2">
                        <button (click)="setCoin(coin)">{{coin}}/BTC</button>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>


<div *ngIf="showData" id="askBid" class="container row">
    <div class="col s12">
        
        <!-- <h1 id="coin">{{coin}}</h1> -->
        <h4>{{coinActivityLog.symbol}}</h4>

        <div class="col s12">
            <ul id="coin_activity_data">
                <li><p>Price</p> {{coinActivityLog.lastPrice}}</li>
                <li><p>24h Low</p>{{coinActivityLog.lowPrice}}</li>
                <li><p>24h High</p>{{coinActivityLog.highPrice}}</li>
                <li class="{{changeColor}}">{{coinActivityLog.priceChangePercent}}</li>
                <li><p>Number of Transactions</p>{{coinActivityLog.count | number}}</li>
                <li></li>
            </ul>
        </div>

        <div id="buy_column" class="col m6 l4 offset-l2">
            
            <!-- <h5>BUY</h5> -->
            
            <div class="border___rows">
                <div class="col s6">
                    <h6>AMOUNT</h6>
                    <div *ngIf="iData != null">
                        <div >
                                <ul *ngFor = 'let bids of iData.bids'>
                                    <li>{{bids[0]}}</li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <h6>COIN BOUGHT</h6>
                    <div *ngIf="iData != null">
                        <div >
                                <ul *ngFor = 'let bids of iData.bids'>
                                    <li>{{bids[1] | number}}</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sell_column" class="col m6 l4">
            
            <!-- <h5>SELL</h5> -->
            <div class="border___rows">
                
                <div class="col s6">
                    <h6>AMOUNT</h6>
                    <div *ngIf="iData != null">
                        <div >
                        
                                <ul *ngFor = 'let asks of iData.asks'>
                                    <li>{{asks[0]}}</li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col s6">

                        <h6>COIN SOLD</h6>
                        <div *ngIf="iData != null">
                            <div>
                                <ul *ngFor = 'let asks of iData.asks'>
                                    <li>{{asks[1] | number}}</li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>    
</div>