<div>{{appTitle}} Tutorial points</div>
<button (click)="setCoin('sub')">SUB/BTC</button>
<button (click)="setCoin('xrp')">XRP/BTC</button>
<button (click)="setCoin('trx')">TRX/BTC</button>
<button (click)="setCoin('bcpt')">BCPT/BTC</button>

<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>

<div id="askBid" >
    <div>
        <h1>{{coin}}</h1>
        <h5>BUY</h5>
        <div *ngFor = 'let bids of iData.bids' id="bids">
            <ul>
                <li>AMOUNT: {{bids[0]}}</li>
                <li>COIN SOLD: {{bids[1]}}</li>
            </ul>
        </div>
    </div>

    <div>
        <h5>SELL</h5>
        <div *ngFor = 'let asks of iData.asks' id="asks">
            
            <ul>
                <li>AMOUNT: {{asks[0]}}</li>
                <li>COIN SOLD: {{asks[1]}}</li>
            </ul>
        </div>
    </div>    
</div>
<div>