<nav id="augur__nav">
    <ul>
        <li><a href="http://localhost:3000">Augur</a></li>
        <li><input type="text" [(ngModel)]="filterMe"></li>
    </ul>
</nav>

<div id="searched__links" *ngIf="filterMe != ''">
    <div *ngFor = "let coin of newCoinList |filter:filterMe" id="coin__searched">
      <p>
        <a (click)="findSingleCoin(coin)" href="#{{coin}}">{{coin}}</a>
      </p>
    </div>
</div>  

<div id="hompage_card_container" class="container row">
    <div *ngIf="!showData" class="coinCard">
        <div *ngFor = 'let coin of newCoinList'>
                <div class="coin-card col s6 m4 l3">
                    <div id='{{coin}}' class="card">
                        <div class="card-image">
                        <img id ="coin-image" src="images/bitcoin-logo.png">
                        <!-- <span class="card-title">Card Title</span> -->
                        </div>
                        <div class="card-content">
                        <!-- <p>1 BTC = .00001</p> -->
                        <div *ngFor = 'let data of marketData'>

                            <div *ngIf="data.symbol == coin">
                                <p id="coin__name">{{data.name}}</p>
                                <p id="coin__conversion">Price: ${{data.price_usd}}</p>
                                <p id="coin__rank">Rank <span>{{data.rank}}</span></p> 
                                <p>Total Supply {{data.total_supply | number}}</p>
                                <!-- <p>Circulating Supply {{data.available_supply | number}}</p> -->
                            </div>       
                                
                        </div>
                        </div>
                        <div class="card-action s6 m3 l2">
                            <button (click)="setCoin(coin)">{{coin}}/BTC</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<div *ngIf="showData" id="askBid" class="container row">
    <div class="col s12">
        
        <!-- <h1 id="coin">{{coin}}</h1> -->
        <!-- <h4>{{coinActivityLog.symbol}}</h4> -->

        <div id="coin_activity_data" class="col s12">
            <h4 class="col s4">{{coinActivityLog.symbol}}</h4>
            <!-- <ul id="coin_activity_data" class="col s8"> -->
            <ul class="col s8">
                <li><p>Price</p> <span>{{coinActivityLog.lastPrice}}</span></li>
                <li><p>24h Low</p> <span class="stop">{{coinActivityLog.lowPrice}}</span></li>
                <li><p>24h High</p> <span class="go">{{coinActivityLog.highPrice}}</span></li>
                <li class="{{goStop}}"> <span>{{coinActivityLog.priceChangePercent}}%</span></li>
                <li><p>Number of Transactions</p> <span>{{coinActivityLog.count | number}}</span></li>
                <li></li>
            </ul>
        </div>

        <div id="buy_column" class="col m6 l4 offset-l2">
            
            <!-- <h5>BUY</h5> -->
            
            <div class="border___rows">
                <div class="col s6">
                    <h6>AMOUNT</h6>
                    <div *ngIf="iData != null">
                        <div >
                                <ul *ngFor = 'let bids of iData.bids'>
                                    <li>{{bids[0]}}</li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <h6>COIN BOUGHT</h6>
                    <div *ngIf="iData != null">
                        <div >
                                <ul *ngFor = 'let bids of iData.bids'>
                                    <li>{{bids[1] | number}}</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sell_column" class="col m6 l4">
            
            <!-- <h5>SELL</h5> -->
            <div class="border___rows">
                
                <div class="col s6">
                    <h6>AMOUNT</h6>
                    <div *ngIf="iData != null">
                        <div >
                        
                                <ul *ngFor = 'let asks of iData.asks'>
                                    <li>{{asks[0]}}</li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col s6">

                        <h6>COIN SOLD</h6>
                        <div *ngIf="iData != null">
                            <div>
                                <ul *ngFor = 'let asks of iData.asks'>
                                    <li>{{asks[1] | number}}</li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>    
</div>