body .coin-card {
  display: inline-block; }

body #askBid {
  text-align: center; }
  body #askBid li {
    font-size: 12px;
    display: inline-block; }
    body #askBid li span {
      font-weight: bold; }
