body{
    
    .coin-card{
        display: inline-block;
    }

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    #askBid{
        text-align: center;

        li{
            font-size: 12px;
            display: inline-block;

            span{
                font-weight: bold;
            }
        }
    }
}

