body{
    
    .coin-card{
        display: inline-block;
    }


    #askBid{
        text-align: center;

        li{
            font-size: 12px;
            display: inline-block;

            span{
                font-weight: bold;
            }
        }
    }
}

