//@import 'coinpage';

body{
    
    nav{
        background-color: #272A2E;

        li:hover{
            background-color: #ADB5C4;
            
            a:hover{
                color:#272A2E;
            }
        }
    }
    .card-content{
        height:200px;
        text-align: center;
    }

    .coin-card{
        position: relative;
        display: inline-block;

        #coin-image{
            width: 50px;
            height: 25px;
        }
    }

    .card-action{
        text-align: center;

        button{
            color:#ADB5C4;
            background-color: #272A2E;
            border: 0;
            border-radius: 5px;
            padding: 5px 15px;
            -webkit-box-shadow: -5px 4px 12px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: -5px 4px 12px -1px rgba(0,0,0,0.75);
            box-shadow: -5px 4px 12px -1px rgba(0,0,0,0.75);
            transition: 1s;
            font-weight: bold;
        }

        button:hover{
            color:#f5a700;
        }
    }

    #coin__name{
        //font-size: 22px;
        width: 100%;
        font-size: 100%;
        font-weight: bold;
        border-bottom: 2px solid #000;
        margin-top: 20%;
    }

    #coin__rank{
        position: absolute;
        top:0px;
        right:10px;
        font-weight: bold;

        span{
            display: inline-block;
            background-color: #272A2E;
            color:#f5a700;
            width: 40px;
            height: 40px;
            margin-top: 2px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
        }
    }

    #askBid{
        text-align: center;

        li{
            font-size: 12px;
            display: inline-block;

            span{
                font-weight: bold;
            }
        }
    }
}


//coin table page
#sell_column{

    .border___rows{
        div.col.s6{
            padding: 0;
        }

        ul{
            border-bottom:1px solid #000;
            margin:0;
            font-weight: bold;
        }
        ul:nth-child(even) {
            //background: red;
            //color:#fff;
            //opacity:.7;
            background:rgba(211, 1, 1, 0.1);
            
        }
    } 
}

//coin table page
#buy_column{

    .border___rows{
        div.col.s6{
            padding: 0;
        }

        ul{
            border-bottom:1px solid #000;
            margin:0;
            font-weight: bold;
        }
        ul:nth-child(even) {
            background: rgba(3, 129, 9, 0.1);
            //color:#fff;
            opacity:.7;
        }
    } 
}

#buy_column{
    .border___rows{
        ul{
            //color:green;
        }
    }
}

#sell_column{
    .border___rows{
        ul{
            //color:red;
        }
    }
}



/**********Binance 2 coin data api**************/
#coin_activity_data{
    li{
        padding-left:20px;
        padding-right:20px;
    }
}


.go{
    color: green;
}

.stop{
    color: red;
}
